html,
body {
  min-width: 1200px;
  min-height: 1750px;
  font-size: 18px;
  line-height: 1.2;
  font-family: "Roboto", "Arial", sans-serif;
  color: #ffffff;
}

body {
  /* Временно для сетки */
  background-image: url('../img/gllacy-index-1200.jpg');
  background-size: 1200px;
  background-repeat: no-repeat;
}

.logo-container {
  display: flex;
  justify-content: flex-start;
  width: 164px;
  margin: 0;
  padding: 0 5px;
}

.menu-link {
  padding: 0px;
  padding-right: 30px;
  color: #ffffff;
  text-decoration: underline;
}

.container {
  width: 960px;
  margin: 0;
  padding: 0 10px;
}

.phone-container {
  display: flex;
  justify-content: flex-end;
  width: 1155px;
  margin: 0;
  padding: 0 10px;
}

.gray-link {
  color: #323232;
  font-size: 13px;
  line-height: 24px;
}

.main-header {
  margin-bottom: 75px;

  /* Временно для сетки */
  min-height: 120px;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  
  /* align-items: left; */

  /* Временно для сетки */

  min-height: 120px;
  background-color: transparent;
  width: 1200px;
 }

.header-container{
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}

 .main-header-logo {
  width: 164px;
  height: 64px;
  
}

.main-navigation-wrapper {
  width: 100%;
  margin-bottom: 10px;

  
  /* Временно для сетки */
  min-height: 60px;
}

.main-navigation-wrapper .logo-container {
  display: flex;
}

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
}

.main-navigation-wrapper .phone-container {
  display: flex;
}

.site-navigation {
  width: 420px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 18px;
  margin-top: 20px;
  
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  
  /* Временно для сетки */
  /* min-height: 30px; */
}

.user-navigation {
  width: 267px;
  margin: 0;
  margin-top: 15px;
  padding: 0;
  
  list-style: none;
  
  /* Временно для сетки */
  /* min-height: 75px; */
  display: flex; 
}

.menu-item {
  display: inline-block;
  vertical-align: top;
  margin-right: 13px;
  margin-bottom: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 14px;
  padding-right: 14px;

  font-weight: 700;
  color: #ffffff;

  text-decoration: underline;
}

.site-navigation .main-menu-item {
  border-radius: 16px;
  color: #ffffff;
  background-color: #d07058;
}

.sub-menu-item:hover,
.site-navigation .active:hover
 {
  color: #000000;
  border: none;
  border-radius: 16px;
  background-color: #f7f6f3;
  text-decoration: none;
}

.sub-menu-item:active {
  box-shadow: inset 0 2px 1px 0 #696969;
}

.site-navigation > li:hover .dropdown-menu{
  display: block;
}

.dropdown-menu {
  position: absolute;
  left: -10px;
  z-index: 10;
  display: none;
  list-style: none;

  padding: 0;
  margin: 0;

  background-color: #f8f7f4;
  border-radius: 4px;
}

.sub-menu-item {
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 9px;
  width: 103px;
  color: #323232;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}

.dropdown-title {
  position: relative;
  padding-top: 14px;
  padding-bottom: 14px;
  font-weight: 700;
}

.dropdown-title:after {
  content: "";
  position: absolute;

  bottom: 0;
  left: 8px;

  width: 128px;
  height: 1px;
  background-color: #d1d9ce;
}

.sub-menu-item:hover {
  border-radius: 4px;
  background-color: #fbded7;
}

.sub-menu-item:active {
  background-color: #f6b5a5;
}

.phone-navigation-wrapper {
  width: 100%;
  margin-bottom: 5px;
  
  /* Временно для сетки */
  /* min-height: 50px; */
}

.phone-navigation {
  width: 170px;
  margin: 0;
  padding: 0;

  min-height: 75px;
}

.user-navigation li {
  margin-left: 6px;
}

.search {
  display: block;
  width: 34px;
  height: 34px;
  text-indent: -5000px;
  background-image: url("../img/loupe.svg");
  background-repeat: no-repeat; 
  background-color: rgba(255, 255, 255, 0.2);
  background-position: center;
  
  border-radius: 50%;
}

.search:hover {
  background-image: url("../img/loupe-black.svg");
  background-repeat: no-repeat; 
  background-color: rgba(248, 247, 244, 1);
  background-position: center;
}

.login-link,
.cart-link {
  position: relative;

  display: block;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 45px;
  padding-right: 15px;
  border-radius: 20px;

  font-size: 14px;
  font-weight: 50;
  line-height: 16px;
  text-decoration: none;

  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
}

.login-link {
  background-image: url("../img/.svg");
  background-position-x: 15px;
  background-position-y: 7px;
  background-repeat: no-repeat;
}
.cart-link {
  padding-right: 35px;
  background-image: url("../img/basket.svg");
  background-position-x: 15px;
  background-position-y: 7px;
  background-repeat: no-repeat;
}

.login-link:hover,
.cart-link:hover {
  color: #323232;
  background: rgba(248, 247, 244, 1);
}

.login-link:hover {
  background-image: url("../img/entrance.svg");
  background-position-x: 15px;
  background-position-y: 7px;
  background-repeat: no-repeat;
}

.cart-link:hover {
  background-image: url("../img/cart-full.png");
  background-position-x: 15px;
  background-position-y: 7px;
  background-repeat: no-repeat;
}

.search-form,
.login-form {
  z-index: 10;
  position: absolute;
  display: none;
  right: 0;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 301px;
  background-color: #f8f7f4;
  border-radius: 5px;
}

.form input {
  box-sizing: border-box;
  width: 100%;
  padding-left: 15px;
  height: 40px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  font-size: 14px;
  line-height: 24px;
}

.user-navigation > li > a {
  margin-bottom: 5px;
}

.user-navigation > li:hover .search-form,
.user-navigation > li:hover .login-form,
.user-navigation > li:hover .product-list {
  display: block;
}

.login-form {
  padding-left: 20px;
  padding-right: 20px;
  width: 301px;
}

.login-form input {
  margin-bottom: 20px;
}

.login-form button,
.login-form div {
  display: inline-block;
  vertical-align: top;
}

.login-form button {
  margin-right: 19px;
}

.phone-navigation {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700px;
  color: #ffffff;
  text-align: right;
}

.phone {
  display: block;
  margin-top: 6px;
  font-size: 22px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
  text-align: right;
}
