html,
body {
  min-width: 1200px;
  min-height: 1750px;
  font-size: 18px;
  line-height: 1.2;
  font-family: "Roboto", "Arial", sans-serif;
  color: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;

}

.content-wrapper {
  width: 1146px;
  margin: 0px auto;
}

.logo-container {
  display: flex;
  justify-content: flex-start;
  width: 164px;
  margin: 0;
  padding: 0;
}

.menu-link {
  padding: 0px;
  padding-right: 30px;
  color: #ffffff;
  text-decoration: underline;
}

.container {
  width: 960px;
  margin: 0;
  padding-left: 10px;
}

.phone-container {
  display: flex;
  justify-content: flex-end;
  width: 1145.990px;
  margin: 0;
  padding: 0;
}

.gray-link {
  color: #323232;
  font-size: 13px;
  line-height: 24px;
}

.main-navigation {
  display: flex;
  flex-direction: column;

  /* Временно для сетки */

  min-height: 120px;
  background-color: transparent;
  width: 1145.990px;
 }

.header-container {
  margin: 0;
  margin-top: 8px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  height: 64px;
}

 .main-header-logo {
  width: 164px;
  height: 64px;
  
}

.main-navigation-wrapper {
  width: 100%;
  margin-bottom: 10px;

}

.main-navigation-wrapper .logo-container {
  display: flex;
}

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
  
}

.main-navigation-wrapper .phone-container {
  display: flex;
}
.site-wrapper {
  max-width: 1200px;
  background-color: rgb(132, 157, 143);
  margin: 0px auto;
  background-repeat: no-repeat;
  background-position: center top;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-navigation {
  width: 420px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 18px;
  margin-top: 20px;
  
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  
  /* Временно для сетки */
  /* min-height: 30px; */
}

.user-navigation {
  width: 257px;
  margin: 0;
  margin-top: 15px;
  padding: 0;
  
  list-style: none;
  
  /* Временно для сетки */
  /* min-height: 75px; */
  display: flex; 
}

.menu-item {
  display: inline-block;
  vertical-align: top;
  margin-right: 13px;
  margin-bottom: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 14px;
  padding-right: 14px;

  font-weight: 700;
  color: #ffffff;

  text-decoration: underline;
}

.site-navigation .main-menu-item {
  border-radius: 16px;
  color: #ffffff;
  background-color: #d07058;
}

.sub-menu-item:hover,
.site-navigation .active:hover
 {
  color: #000000;
  border: none;
  border-radius: 16px;
  background-color: #f7f6f3;
  text-decoration: none;
}

.sub-menu-item:active {
  box-shadow: inset 0 2px 1px 0 #696969;
}

.site-navigation > li:hover .dropdown-menu{
  display: block;
}

.dropdown-menu {
  position: absolute;
  left: -10px;
  z-index: 10;
  display: none;
  list-style: none;

  padding: 0;
  margin: 0;

  background-color: #f8f7f4;
  border-radius: 4px;
}

.sub-menu-item {
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 9px;
  width: 103px;
  color: #323232;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}

.dropdown-title {
  position: relative;
  padding-top: 14px;
  padding-bottom: 14px;
  font-weight: 700;
}

.dropdown-title:after {
  content: "";
  position: absolute;

  bottom: 0;
  left: 8px;

  width: 128px;
  height: 1px;
  background-color: #d1d9ce;
}

.sub-menu-item:hover {
  border-radius: 4px;
  background-color: #fbded7;
}

.sub-menu-item:active {
  background-color: #f6b5a5;
}

.phone-navigation-wrapper {
  width: 100%;
  margin-bottom: 5px;
  
  /* Временно для сетки */
  /* min-height: 50px; */
}

.phone-navigation {
  width: 170px;
  margin: 0;
  padding: 0;

  min-height: 75px;
}

.user-navigation li {
  margin-left: 6px;
}

.search {
  display: block;
  width: 34px;
  height: 34px;
  text-indent: -5000px;
  background-image: url("../img/loupe.svg");
  background-repeat: no-repeat; 
  background-color: rgba(255, 255, 255, 0.2);
  background-position: center;
  
  border-radius: 50%;
}

.search:hover {
  background-image: url("../img/loupe-black.svg");
  background-repeat: no-repeat; 
  background-color: rgba(248, 247, 244, 1);
  background-position: center;
}

.login-link,
.cart-link {
  position: relative;

  display: block;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 48px;
  padding-right: 15px;
  border-radius: 20px;

  font-size: 14px;
  font-weight: 50;
  line-height: 16px;
  text-decoration: none;

  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
}

.login-link {
  background-image: url("../img/entrance1.svg");
  background-position-x: 15px;
  background-position-y: 7px;
  background-repeat: no-repeat;
}
.cart-link {
  padding-right: 35px;
  background-image: url("../img/basket.svg");
  background-position-x: 20px;
  background-position-y: 7px;
  background-repeat: no-repeat;
}

.login-link:hover,
.cart-link:hover {
  color: #323232;
  background: rgba(248, 247, 244, 1);
}

.login-link:hover {
  background-image: url("../img/entrance.svg");
  background-position-x: 15px;
  background-position-y: 7px;
  background-repeat: no-repeat;
}

.cart-link:hover {
  background-image: url("../img/cart-full.png");
  background-position-x: 15px;
  background-position-y: 7px;
  background-repeat: no-repeat;
}

.search-form,
.login-form {
  z-index: 10;
  position: absolute;
  display: none;
  right: 0;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 301px;
  background-color: #f8f7f4;
  border-radius: 5px;
}

.form input {
  box-sizing: border-box;
  width: 100%;
  padding-left: 15px;
  height: 40px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  font-size: 14px;
  line-height: 24px;
}

.user-navigation > li > a {
  margin-bottom: 5px;
}

.user-navigation > li:hover .search-form,
.user-navigation > li:hover .login-form,
.user-navigation > li:hover .product-list {
  display: block;
}

.login-form {
  padding-left: 20px;
  padding-right: 20px;
  width: 301px;
}

.login-form input {
  margin-bottom: 20px;
}

.login-form button,
.login-form div {
  display: inline-block;
  vertical-align: top;
}

.login-form button {
  margin-right: 19px;
}

.phone-navigation {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700px;
  color: #ffffff;
  text-align: right;
}

.phone {
  display: block;
  margin-top: 6px;
  font-size: 22px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
  text-align: right;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-top: 10px;
  margin-left: 4px;

  list-style: none;
}

.breadcrumbs li {
  position: relative;

  margin-right: 20px;
}

.breadcrumbs li:last-of-type {
  margin-right: 0px;

  cursor: default;
}

.breadcrumbs li:not(:last-child):hover,
.breadcrumbs li:not(:last-child):focus,
.breadcrumbs li:not(:last-child):active {
  color: #eebb9e;
}

.breadcrumbs li:not(:last-of-type)::before {
  content: "";

  position: absolute;
  right: 0px;
  bottom: 0px;

  display: block;
  width: 100%;
  height: 1px;

  background-color: rgba(255, 255, 255, 0.4);
}

.breadcrumbs li:not(:last-of-type):hover::before,
.breadcrumbs li:not(:last-of-type):focus::before,
.breadcrumbs li:not(:last-of-type):active::before {
  background-color: #eebb9e;
}

.breadcrumbs li:not(:last-of-type)::after {
  content: "»";

  position: absolute;
  top: 0;
  right: -15px;

  display: block;
}

.breadcrumbs-list {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
}

.creamy::after {
  display: none;
}

.filter fieldset {
  display: inline-block;
  border: none;
  margin-bottom: 15px;
}
.filter legend {
  margin-bottom: 16px;
  
  font-size: 14px;
  line-height: 30px;
}

.filter ul {
  list-style: none;
  line-height: 18px;
}


.slider {
  position: relative;
  padding-top: 239px;
  padding-bottom: 45px;
  
  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;
  
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.slide-button {
  display: inline-block;
  padding: 12px 44px;

  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}

.slide-button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.utton:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 64px;
  left: 0;
  z-index: 20;
  
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-item1.jpg");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-item2.jpg");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-item3.jpg");
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

.catalog {
  padding: 0;
  text-decoration: none;
  color: #ffffff;
  list-style: none;
}

.filter-optional {
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.button {
  display: inline-block;
  padding: 12px 25px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  border-radius: 25px;
  vertical-align: top;

  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background-color: #f06742;
  background-image: linear-gradient(to bottom, #f06742, #c83725);
  box-shadow: 0 2px 2px rgba(85, 8, 0, 0.54);
  cursor: pointer;
  border: none;
  outline: none;
}

.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

  .banner {
    width: 560px;
    padding: 20px;
    margin-bottom: 40px;

    box-sizing: border-box;
  
    border-radius: 17px;
    color: #ffffff;
  }

  .banner-raspberries {
    float: left;
    background-color: #9d0e35;
    background-image: url("../img/raspberries.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }

  .banner-chocolate {
    float: right;
    background-color: #26120b;
    background-image: url("../img/chocolate_chips.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }

  .banner-title {
    margin-bottom: 15px;
    line-height: 41px;
    font-size: 35px;
    font-weight: 700;
    color: #ffffff;
  }

  .banner-text {
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
}

  .banner-button {
    margin-left: 325px; 
}

.hit {
  margin-bottom: 50px;
  font-size: 0;
}

.catalog-item {
  padding: 0;
  position: relative;

  display: inline-block;
  max-width: 267px;
  margin-right: 25px;
  text-align: center;
  font-size: 16px;

  vertical-align: top;
}

.catalog-item:last-of-type {
  margin-right: 0;
}

.catalog-item img {
  display: block;

  width: 267px;
  height: 267px;
  margin-bottom: 15px;

  border-radius: 50%;
}

.catalog-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 61px;
  height: 61px;
  border-radius: 50%;
  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
}

.catalog-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
  list-style: none;
}

.catalog-item-container {
  padding: 0;
  position: relative;
  text-align: center;
  width: 267px;
  margin-right: 25px;
  margin-bottom: 30px;

  font-size: 16px;

  /* vertical-align: top; */
}

.catalog-item-container:nth-child(4n) {
  margin-right: 0;
}

.catalog-item-container img {
  display: block;

  width: 267px;
  height: 267px;
  margin-bottom: 15px;

  border-radius: 50%;
}

.catalog-item-title-container{
  color: #ffffff;
  font-weight: 500;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  line-height: 1.5;
}

.price {
  position: absolute;
  left: 0;
  top: 210px;

  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  color: #ffffff;
  text-shadow: 1px 1px 3px rgba(45, 50, 53, 0.5);
}

.unit {
  position: absolute;
  left: 116px;
  top: 220px;
  font-size: 30px;
  color: #ffffff;
}

.price::after {
  position: absolute;
  top: 7px;
  right: -40px;
  content: "";
  width: 31px;
  height: 36px;
  background-image: url("../img/ruble.svg");
  background-repeat: no-repeat;
}
  
  .shop-features {
    color: #323232;

    background-color: #efe2cc;
    margin-bottom: 40px;
    padding: 20px;
    background-image: url(../img/wafer.png);
    background-repeat: repeat-x;
    border-radius: 13px;
  }

  .shop-features ul {
    margin: 0;
    padding: 0;
    font-size: 0;
  }
  
  .shop-features-title {
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
  }
  
  .shop-feature {
    position: relative;
    padding-left: 55px;
    display: inline-block;
    width: 537px;
    margin-top: 25px;
    margin-bottom: 6px;
    vertical-align: top;
    font-size: 16px;
    box-sizing: border-box;
  }
  
  .shop-feature:nth-child(2n) {
    margin-left: 30px;
  }
  
  .shop-feature::before {
    content: "";
    position: absolute;
    top: -17px;
    left: 0;
  
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
  }
  
  .shop-features-ice-cream::before {
    background-image: url("../img/ice-cream.svg");
  }
  
  .shop-features_farm::before {
    background-image: url("../img/cow.svg");
  }
  
  .shop-features_eco::before {
    background-image: url("../img/eco.svg");
  }
  
  .shop-features_delivery::before {
    background-image: url("../img/thermometer.svg");
  }


  .news {
    height: 220px;
    margin-bottom: 40px;
  }
  
  .blog {
    float: left;
    padding-left: 20px;
    width: 48.87%;
    height: 100%;
    box-sizing: border-box;
  
    font-weight: 500;
  
    background-color: #ffffff;
    background-image: url("../img/strawberry_background.jpg");
    background-repeat: no-repeat;
    border-radius: 17px;
    color: #323232;
  }
  
  .blog-title {
    margin: 0;
    margin-top: 29px;
    font-size: 16px;
  }

  .blog a {
    margin-top: 8px;
    display: block;
    max-width: 300px;
    color: #323232;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-decoration: underline;
  }
  
  .newsletter-border {
    display: flex;
    width: 48.87%;
    height: 100%;
    background-image: url("../img/email.jpg");
    background-repeat: repeat;
    float: right;
    border-radius: 17px;
    border-image: url("../img/bg-post.svg");
    padding: 6px;
    box-sizing: border-box;
  }
  
  .nnewsletter {
    flex-shrink: 0;
    box-sizing: border-box;
    width: 548px;
    min-height: 210px;
    padding: 20px;
  
    background-color: #f8f7f4;
    border-radius: 15px;
  }
  
  .subscribe-desc {
    margin: 0;
    margin-top: 23px;
    font-size: 16px;
    padding: 15px;
    line-height: 20px;
    font-weight: 400;
    color: #5a5a5a;
  }

  .subscribe-form {
    margin: 20px;
    margin-bottom: 38px;
    position: relative;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .subscribe-form-email {
    position: relative;
  
    box-sizing: border-box;
    width: 368px;
    height: 44px;
    padding: 15px;
  
    color: #383838;
  
    border: 1px solid rgba(178, 178, 178, 0.52);
    border-radius: 5px;
    outline: none;
  }
  
  .subscribe-form-email:hover{
    padding: 10px;
    border: 2px solid rgba(154, 154, 154, 0.52);
  }
  
  .subscribe-form-email:focus{
    padding: 10px;
    border: 2px solid rgba(46, 136, 228, 0.52);
  }

  .subscribe-form-label {
    position: absolute;
    top: 13px;
    left: 12px;
  
    font-size: 16px;
    font-weight: 400;
    color: #999999;
    text-decoration: none;
  
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
  }

  .subscribe-form-email:focus + .subscribe-form-label {
    top: -18px;
    font-size: 11px;
    color: #5b9ddf;
  }
  
  .subscribe-form-button {
    padding: 10px 21px;
  
    font-size: 17px;
    line-height: 24.3px;
    font-weight: 700;
  }

  iframe {
    position: relative;
    left: -27px;
    background-image: url('../img/map.jpg');
    background-repeat: no-repeat;
    background-size: contain;
  }

  .map-container {
    color: #323232;
    position: relative;
  }

  .gllacy-address-block span {
    display: block;
  }

  .gllacy-telephone-block span {
    display: block;
  }

  .gllacy-data {
    position: absolute;
    top: 65px;
    right: 0px;
    width: 302px;
    box-sizing: border-box;
    padding-top: 19px;
    padding-bottom: 26px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #fdfdfd;
    border-radius: 13px;
}

  .map-container .gllacy-address-title{
    font-size: 14px;
    line-height: 20px;
  }

  .map-container .gllacy-address{
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
  }

  .map-container .gllacy-telephone-title{
    font-size: 14px;
    line-height: 20px;
  }
  .map-container .gllacy-telephone{
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
  }
  .map-container .gllacy-call-time{
    font-size: 14px;
    line-height: 20px;
  }

  .pagination {
    display: flex;
    align-self: flex-end;
    align-items: center;
    margin-right: -9px;
    margin-bottom: 41px;
  }
  
  .paginaton-arrow {
    display: block;
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    margin-left: 9px;
    color: transparent;
  
    background-color: transparent;
    background-image: url(../img/icon-right-small.svg);
    background-position: center center;
    background-repeat: no-repeat;
    border: none;
    overflow: hidden;
    opacity: 0.2;
  }
  
  .paginaton-arrow-active {
    opacity: 1;
  }
  
  .paginaton-arrow-left {
    transform: rotate(180deg);
    margin-left: 0px;
    margin-right: 9px;
  }
  
  .pagination-list {
    display: flex;
    align-self: flex-end;
    align-items: center;
    padding: 0;
    margin: 0;
    
    list-style: none;
  }
  
  .pagination-list li {
    padding: 0;
    margin: 0;
    margin-right: 4px;
    
  }
  
  .pagination-list li:last-child {
    margin-right: 0;
  }
  
  .pagination-list-item {
    display: block;
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    padding-top: 4px;
    color: #ffffff;
  
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 50%;
    transition-duration: 0.2s;
  }
  
  .pagination-list-item:hover,
  .pagination-list-item:focus {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .pagination-list-item:active {
    color: #333333;
    background-color: rgba(255, 255, 255, 1);
  }
  .pagination-list-item-active,
  .pagination-list-item-active:hover,
  .pagination-list-item-active:focus,
  .pagination-list-item-active:active {
    color: #333333;
  
    background-color: rgba(255, 255, 255, 1);
    cursor: default;
  }

  .main-footer {
    font-size: 0;
  }

  .social {
    margin-left: 27px;
    display: inline-block;
    width: 299px;
    margin-right: -4px;
    vertical-align: top;
    font-size: 14px;
  }

  .social ul {
    margin-top: 35px;
    padding: 0;
    font-size: 0;
  }

  .social li {
  display: inline-block;
  vertical-align: top;
}

.social-button {
  display: block;
  width: 29px;
  height: 29px;
  margin-right: 13px;

  border: 4px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
}

.social-button:active {
  box-shadow: inset 0 2px 1px 0 #888888;
}

.button-tw {
  background-image: url("../img/twitter.svg");
}

.button-inst {
  background-image: url("../img/instagram.svg");
}

.button-fb {
  background-image: url("../img/fb.svg");
}

.button-vk {
  background-image: url("../img/vk.svg");
}

.footer-about {
  display: inline-block;
  width: 560px;
  margin-right: -4px;
  vertical-align: top;
  font-size: 14px;
}

.footer-about ul {
  margin-top: 32px;
  padding-left: 130px;
  padding-right: 100px;
}

.footer-about li {
  display: inline-block;
  vertical-align: top;
  list-style: none;
}

.footer-about li:nth-child(2n-1) {
  width: 138px;
  margin-right: 5px;
}

.footer-about a {
  font-size: 13px;
  line-height: 18px;
}

.footer-item {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-item:hover,
.footer-item:active {
  color: #ffbc9e;
  border-color: rgba(255, 188, 158, 0.3);
}

.favorite {
  position: relative;
  font-weight: 700;
}

.favorite::before {
  content: "";
  position: absolute;
  left: -22px;
  top: 2px;
  width: 15px;
  height: 13px;
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
}
  
.footer-copyright {
  position: relative;
  display: inline-block;
  width: 293px  ;
  font-size: 14px;
  vertical-align: top;
  text-align: right;
}

.footer-copyright img {
  position: absolute;
  top: 18px;
  right: 80px;
}

.footer-copyright p {
  margin-top: 64px;
  margin-bottom: 25px;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
}

