body {
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.375;
    font-family: "Roboto", "Arial", sans-serif;
    color: #ffffff;
    font-weight: 500;
    background-color: #87a193;
}

  a {
    text-decoration: none;
  }

  .button-orange {
    font: inherit;
  
    text-align: center;
    color: #ffffff;
  
    background-color: #f16542;
    border: none;
  }

  .site-navigation {
    padding: 0;
    margin-top: 23px;
    margin-bottom: 20px;

  }
  
  .user-navigation {
    margin-top: 28px;
    margin-bottom: 18px;
  
    float: right;
  }

  .site-navigation,
  .user-navigation,
  .dropdown-menu {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .site-navigation a,
  .user-navigation a,
  .dropdown-menu a,
  .catalog a {
    color: #ffffff;
  }

  .site-navigation a:hover,
  .site-navigation a:focus,
  .user-navigation a:hover,
  .user-navigation a:focus,
  .dropdown-menu a:hover,
  .dropdown-menu a:focus,
  .login-problem a:hover,
  .login-problem a:focus,
  .catalog a:hover, 
  .catalog a:focus,
  .social-button a:hover, 
  .social-button a:focus  {
    background-color: #242424;
  }

  .login-problem a{
    font-size: 13px;
    line-height: 16px;
    color: #323232;
    text-decoration: underline;
  }
  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

.telephone {
  float: right;
  max-width: 170px;
}
  .banner {
    width: 560px;
    padding: 20px;

    box-sizing: border-box;
  
    border-radius: 17px;
    color: #ffffff;
  }

  .banner-raspberries {
    margin-left: 450px;
    float: left;
    background: #9d0e35 url("../img/raspberries.jpg") no-repeat center center;
  }

  .banner-chocolate {
    margin-right: 450px;
    float: right;
    background: #26120b url("../img/chocolate_chips.jpg") no-repeat center center;
  }

  .banner-title {
    margin-bottom: 15px;
    line-height: 41px;
    font-size: 35px;
    font-weight: 700;
  }

  .banner-text {
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 700;
}

.hits {
  margin-bottom: 35px;
  font-size: 0;
}
  .catalog-item-title-container {
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    text-decoration: underline;
    list-style: none;
  }
  .shop-features {
    color: #323232;

    background-color: #efe2cc;
    margin-bottom: 40px;
    padding: 20px;
    background: url(../img/wafer.png) repeat-x;
    border-radius: 13px;
  }

  .shop-features h2 {
    list-style: none;
    font-size: 24px;
    line-height: 30px;
  }

  .row-container {
    margin: 0;
    padding: 0;
    list-style: none; 
  }

  .news {
    height: 220px;
    margin-bottom: 40px;
  }

  .blog {
    float: left;
    color: #323232;    
    padding: 20px;
    width: 562px;
    height: 221px;
    box-sizing: border-box;
    font-weight: 500;
    background-image: url("../img/strawberry_background.jpg");
    background-repeat: no-repeat;
    border-radius: 17px;
  }
    
  .blog h3{
    font-size: 16px;
    line-height: 22px;
    color: #5a5a5a;
  }

  .blog p {
    font-size: 24px;
    line-height: 30px;
    color: #353535;
    text-decoration: underline;
  }
 
  .newsletter {
    width: 565px;
    height: 225px;
    color: #5a5a5a;
    text-decoration: none;
    background-color: #f8f7f4;
    background: url(../img/post.jpg) repeat left top;
    float: right;
    border-radius: 17px;
    padding: 6px;
    box-sizing: border-box;
  }

  .map-container {
    color: #323232;
    position: relative;
  }

  .gllacy-data {
  position: absolute;
  top: 60px;
  right: 0px;
  width: 302px;
  box-sizing: border-box;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #fdfdfd;
  border-radius: 13px;
}

  .map-container .gllacy-address-title{
    font-size: 14px;
    line-height: 20px;
  }

  .map-container .gllacy-address{
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
  }

  .map-container .gllacy-telephone-title{
    font-size: 14px;
    line-height: 20px;
  }
  .map-container .gllacy-telephone{
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
  }
  .map-container .gllacy-call-time{
    font-size: 14px;
    line-height: 20px;
  }

  .social-button {
    text-decoration: none;
  }

  .footer-item {
    font-size: 13px;
    line-height: 18px;
    color: #ffffff;
    text-decoration: none;
  }

  .design {
    font-size: 12px;
    line-height: 18px;
    color: #ffffff;
  }

  .design a {
    color: #ffffff;
  }

  .filter-optional {
    list-style: none;
  }

  h2 {
    font-size: 35px;
    line-height: 41px;
  }

 .pagination-list {
  margin: 0;
  padding: 0;
  list-style: none;
 }

 .main-footer {
  list-style: none;
  font-size: 0;
 }

 .catalog-list {
  margin: 0;
  padding: 0;
 }

 .footer-item {
  margin: 0;
  padding: 0;
  list-style: none;
 }
 
 .social-button {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #ffffff;
  display: inline-block;
  width: 293px;
  margin-right: -4px;
  vertical-align: top;
  font-size: 14px;
 }

 .catalog {
  margin: 0;
  padding: 0;
  list-style: none;
 }

 .filter-optional {
  margin: 0;
  padding: 0;
  list-style: none;
 }

 .container-banner {
  width: 1150px;
  margin: 0 auto;
  padding: 0 5px;
}

.banners {
  margin-bottom: 35px;
}

.main-slider {
  position: relative;
  padding-top: 335px;
  margin-bottom: 38px;
  text-align: center;
  color: #fff;
}